<form class="" action="/form" method="post">
  <div class="form-group">
    <label class="form-control" for="title">Title: </label>
    <input class="form-control" type="text" name="title" placeholder="Name">
  </div>
  <div class="form-group">
    <label class="form-control" for="description">Description: </label>
    <input class="form-control" type="text" name="description" placeholder="Name">
  </div>
  <div class="form-group">
    <label class="form-control" for="product">Product: </label>
    <input class="form-control" type="text" name="product" placeholder="Name">
  </div>
  <div class="form-group">
    <label class="form-control" for="discount_price">Discount Price: </label>
    <input class="form-control" type="number" step="any" name="discount_price" placeholder="Name">
  </div>
  <div class="form-group">
    <label class="form-control" for="expiration_date">Expiration Date: </label>
    <input class="form-control" type="date" name="expiration_date" placeholder="Name">
  </div>
  <button class="btn btn-primary" type="submit">Ready? GO!</button>
  <a class="btn btn-danger" href="/">Cancel</a>
</form>
